{% extends 'base.html' %}

{% block content %}

<h1>Students</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.birthdate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}